
<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Birth Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources.items">
      <td>{{resource.name}}</td>
      <td>{{resource.address}}</td>
      <td>{{resource.email}}</td>
      <td>{{resource.birthDate}}</td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end" >
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li>Total: {{resources.total}}</li>
  </ul>
</nav>

